@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", cursive;
}

header{
    background-color: #ffffff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu{
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    padding: 20px 350px;
    padding-bottom: 35px;
    line-height: 40px;
    gap: 2rem;
}

ul, ol{
    padding: 0;
    margin: 0;
    list-style-position: inside;
    line-height: 30px;
}

.azul{
    color: #4E80EE;
}

.negrito{
    font-weight: bold;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
    line-height: 40px;
}

p{
    font-size: 16px;
    line-height: 60px;
}

.part1{
    padding-top: 50px;
}

.part2{
    padding-top: 50px;
    border-top: 1px solid #D2D5DA;
}